<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <table class="table">
      <thead>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
      </thead>
      <tbody>
        <%for(let client of clients){ %>
        <tr>
          <th scope="row"><%= client.id%></th>
          <td><%= client.name %></td>
          <td><%= client.phone %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
